<h4>Sales Panel</h4>
<!-- <h5>Your personal Info</h5>
<div>
        <table class="table table-striped">
        <thead>
        <tr>
                <th>Name</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Positions</th>
        </tr>
        </thead>
        <tbody>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.positions}}</td>
        </tbody>
        </table>
        {{errorMessage}}
</div>     -->

